# yii console command
/yii

# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
_protected/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml
themes/.sass-cache/75fcaf1b4852ceb732871195e41567cc2a7d8997/D%058/xampp/htdocs/proverbs/themes/proverbs/sass/_dashboard.scssc
themes/.sass-cache/
_protected/runtime/session/
