/* line 1, ../sass/_raul.scss */
.row-1 {
  background-color: red;
}

/* body { 
  background: url(../images/bgsimple.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
 */
/* line 9, ../sass/_julfer.scss */
.text-centered {
  text-align: center;
}

/* line 12, ../sass/_julfer.scss */
.non-padded {
  padding-left: 0;
  padding-right: 0;
}

/* line 16, ../sass/_julfer.scss */
.google-font {
  font-family: 'Julius Sans One', sans-serif;
}

/* line 19, ../sass/_julfer.scss */
hr {
  width: 60%;
}

/* line 23, ../sass/_julfer.scss */
#error-404 .container {
  padding: 30px;
  width: 100%;
  margin-top: -30px;
}

/* line 30, ../sass/_julfer.scss */
.blue-box {
  background-color: rgba(58, 75, 85, 0.4);
  padding: 10px;
  position: center;
}

/* line 35, ../sass/_julfer.scss */
.yellow-box {
  background-color: rgba(255, 255, 0, 0.4);
  padding: 10px;
}

/* line 40, ../sass/_julfer.scss */
.red-box {
  background-color: rgba(235, 43, 54, 0.4);
  padding: 10px;
}

/* line 44, ../sass/_julfer.scss */
.green-box {
  background-color: rgba(0, 128, 0, 0.4);
  padding: 10px;
}

/* line 48, ../sass/_julfer.scss */
h2.error-404-subheading {
  padding-top: 7px;
}

/* line 51, ../sass/_julfer.scss */
h1.error-404-heading {
  font-size: 6em;
}

/* line 54, ../sass/_julfer.scss */
.improv-border {
  padding: 10px;
  padding-left: 0;
  padding-right: 0;
}

/* line 59, ../sass/_julfer.scss */
i#error-404-home {
  color: #333;
}

/* line 62, ../sass/_julfer.scss */
.login {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* line 66, ../sass/_julfer.scss */
.login-btn {
  background-color: rgba(0, 128, 0, 0.4);
  font-color: white;
}

/* button {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
} */
/* line 82, ../sass/_julfer.scss */
.site-error {
  background: url(../images/bgsimple.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* .message {
	min-height: 0px;
} */
/* line 8, ../sass/style.scss */
body {
  background: white;
  overflow-y: scroll;
}

/* line 12, ../sass/style.scss */
.dsp-table {
  display: table;
}

/* line 15, ../sass/style.scss */
* {
  box-sizing: border-box;
}

/* line 19, ../sass/style.scss */
a:hover, a:visited {
  text-decoration: none;
}

/* line 23, ../sass/style.scss */
pre {
  border: transparent;
}

/* line 26, ../sass/style.scss */
.header-offset, .bottom-fix, .page-content-offset {
  min-height: 54px;
  width: 100%;
}

/* line 30, ../sass/style.scss */
.btn, .button, .form-control, .site-index .jumbotron, .panel {
  -webkit-border-radius: 0;
  border-radius: 0;
}

/* line 34, ../sass/style.scss */
ul.breadcrumb {
  -webkit-border-radius: 0;
  border-radius: 0;
}

/* line 38, ../sass/style.scss */
textarea {
  resize: none;
}

/* line 41, ../sass/style.scss */
.text-centered {
  text-align: center;
}

/* line 44, ../sass/style.scss */
.form-control, #signupform-verifycode-image {
  height: 46px;
}

/* line 47, ../sass/style.scss */
.pva-login-mask {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: table-cell;
  vertical-align: middle;
  /* background: url('../images/desktop.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover; */
}

/* line 62, ../sass/style.scss */
.pva-login {
  width: 100%;
  height: 100%;
}

/* line 67, ../sass/style.scss */
.pva-form-heading.text-centered h1 {
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  font-weight: 300;
}

/* line 73, ../sass/style.scss */
#loginform-email, #loginform-password, #signupform-username, #signupform-email, #signupform-password, #signupform-verifycode {
  border: solid 1px #4a4648;
  background: white;
}
/* line 76, ../sass/style.scss */
#loginform-email:focus, #loginform-password:focus, #signupform-username:focus, #signupform-email:focus, #signupform-password:focus, #signupform-verifycode:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 80, ../sass/style.scss */
#loginform-email:blur, #loginform-password:blur, #signupform-username:blur, #signupform-email:blur, #signupform-password:blur, #signupform-verifycode:blur {
  background: white;
}

/* line 84, ../sass/style.scss */
.panel.panel-default.form-login {
  min-width: 240px;
  border: transparent;
  background-color: rgba(58, 75, 85, 0.4);
}

/* line 91, ../sass/style.scss */
.control-label, .checkbox label {
  font-weight: normal;
  color: white;
}

/* line 95, ../sass/style.scss */
.has-success .control-label {
  color: green;
}

/* line 98, ../sass/style.scss */
.has-error .control-label {
  color: red;
}

/* line 101, ../sass/style.scss */
.pva-form-terms, .pva-form-registered {
  font-size: 12px;
  color: white;
}
/* line 104, ../sass/style.scss */
.pva-form-terms a, .pva-form-registered a {
  color: white;
}
/* line 106, ../sass/style.scss */
.pva-form-terms a:hover, .pva-form-registered a:hover {
  color: #393939;
}

/* line 111, ../sass/style.scss */
.panel .panel-heading {
  background: transparent;
  border: 0;
  text-align: center;
}
/* line 115, ../sass/style.scss */
.panel .panel-heading img {
  -webkit-box-shadow: #393939;
  box-shadow: #393939;
}

/* line 120, ../sass/style.scss */
.subject-min-width {
  width: 120px;
}

/* line 123, ../sass/style.scss */
.input-group-addon.values-min-width {
  width: 120px;
}

/* line 126, ../sass/style.scss */
.input-group-addon {
  min-width: 50px;
  border: solid 1px #4a4648;
  background: white;
  -webkit-border-radius: 0;
  border-radius: 0;
}

/* line 133, ../sass/style.scss */
input .signupform-username {
  background: white;
}

/* line 137, ../sass/style.scss */
.pull-left.sign-up a, .pull-right.forgot-password a {
  font-size: 12px;
  color: white;
}

/* line 142, ../sass/style.scss */
.input-group-addon.parents {
  width: auto;
  color: red;
}

/* line 146, ../sass/style.scss */
.input-group-addon {
  border-color: #ddd;
  border-style: solid;
  border: 1px 0 1px 1px;
}

/* line 151, ../sass/style.scss */
p.help-block.help-block-error {
  display: block;
  visibility: visible;
  color: red;
}

/* line 157, ../sass/style.scss */
#signupform-verifycode-image {
  cursor: pointer;
}

/* line 160, ../sass/style.scss */
span#t {
  font: 'Open Sans';
}

/* line 163, ../sass/style.scss */
.notifications {
  position: fixed;
  top: 15px;
  left: 0;
  width: 100%;
  z-index: 9;
}

/* line 170, ../sass/style.scss */
.date-range:after {
  content: "";
  background: none;
}

/* line 174, ../sass/style.scss */
.breadcrumb > li:first-child > a {
  background: url(../images/interface/breadcrumb_home.png) no-repeat 0;
  padding-left: 16px;
}

/* line 178, ../sass/style.scss */
.page-container, .page-content, .page-header {
  background: transparent;
}

/* line 182, ../sass/style.scss */
.control-label {
  color: #393939;
}

/* line 185, ../sass/style.scss */
.fa-remove {
  color: red;
}

/* line 188, ../sass/style.scss */
.page-header {
  height: 100%;
  min-height: 100%;
}

/* line 192, ../sass/style.scss */
.sidebar {
  position: fixed;
  top: 54px;
  height: 100%;
}

/* line 198, ../sass/style.scss */
.text-centered {
  text-align: center;
}

/* line 202, ../sass/style.scss */
.summary {
  padding-bottom: 10px;
}

/* line 205, ../sass/style.scss */
.pvcf-logo {
  text-align: center;
}
/* line 207, ../sass/style.scss */
.pvcf-logo img {
  height: 100px;
  width: 100px;
  margin: 15px 15px;
}

/* line 213, ../sass/style.scss */
.page-title {
  min-height: 15px;
}

/* line 222, ../sass/style.scss */
.profile-head {
  text-align: center;
  padding: 10px;
  border: solid 1px #e5e5e5;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
/* line 228, ../sass/style.scss */
.profile-head img {
  width: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
/* line 233, ../sass/style.scss */
.profile-head p {
  margin: auto;
}

/* line 237, ../sass/style.scss */
.profile-head-mask {
  position: absolute;
  top: 0;
  left: 15px;
  bottom: 0;
  height: 50%;
  width: 100%;
  padding-right: 15px;
  padding-bottom: 14px;
  z-index: 4;
}

/* line 248, ../sass/style.scss */
.profile-head-mask-top, .profile-head-mask-bottom {
  width: 100%;
  height: 100%;
}

/* line 252, ../sass/style.scss */
.profile-head-mask-top {
  background: rgba(0, 128, 0, 0.7);
}

/* line 255, ../sass/style.scss */
.profile-head-mask-bottom {
  position: relative;
  top: 0;
  background: rgba(255, 0, 0, 0.7);
}

/* line 260, ../sass/style.scss */
.profile-user-icon {
  width: 50px;
  height: 50px;
  margin: 5px 0;
  border: 1px solid #65B688;
  border-radius: 100%;
}
/* line 266, ../sass/style.scss */
.profile-user-icon i {
  padding-top: 10px;
  color: #65B688;
}

/* line 271, ../sass/style.scss */
.profile-data {
  font-size: 30px;
}

/* line 274, ../sass/style.scss */
#profile-img-wrapper, #profile-details-wrapper {
  padding-right: 0;
}

/* line 279, ../sass/style.scss */
.table.table-striped.table-bordered.detail-view tbody tr > th {
  width: 150px !important;
  max-width: 200px !important;
}

/* line 285, ../sass/style.scss */
.conversation-wrapper {
  border: 1px solid #e5e5e5;
  margin: 0 15px;
}

/* line 290, ../sass/style.scss */
.pagination {
  margin: 10px 0;
}

/* line 306, ../sass/style.scss */
.message-index p a,
.announcement-index p a,
.enrollment-form-index p a,
.applicant-form-index p a,
.cashier-form-index p a,
.student-form-index p a,
.entrance-exam-form-index p a,
.payment-form-index p a,
.teacher-form-index p a,
.user-form-index p a,
.staff-form-index p a {
  min-width: 150px;
}
/* line 309, ../sass/style.scss */
.message-index p i,
.announcement-index p i,
.enrollment-form-index p i,
.applicant-form-index p i,
.cashier-form-index p i,
.student-form-index p i,
.entrance-exam-form-index p i,
.payment-form-index p i,
.teacher-form-index p i,
.user-form-index p i,
.staff-form-index p i {
  padding: 3px 0;
}

/* line 314, ../sass/style.scss */
.form-offset {
  min-height: 100px;
}

/* line 317, ../sass/style.scss */
.select2-container--krajee .select2-selection--single {
  height: 46px;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding-top: 12px;
}

/* line 323, ../sass/style.scss */
.select2-container--krajee .select2-search--dropdown .select2-search__field {
  -webkit-border-radius: 0;
  border-radius: 0;
  padding-left: 0;
}

/* line 328, ../sass/style.scss */
.select2-container--krajee .select2-selection--single .select2-selection__arrow {
  border-left: 1px solid #D5D5D5;
  height: 45px;
}

/* line 335, ../sass/style.scss */
.select2-search__field {
  padding-left: -15px;
}

/* line 341, ../sass/style.scss */
#pjax-board {
  position: absolute;
  top: -30px;
  width: 30px;
  height: 30px;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* line 350, ../sass/style.scss */
#refresh-btn {
  padding-top: 8px;
  padding-bottom: 6px;
  padding-left: 7px;
  margin: 0 auto;
}

/* line 356, ../sass/style.scss */
#ui-load-message {
  background: #e9eaed;
  position: absolute;
  top: -94px;
  left: 0;
  bottom: 0;
  right: 0;
  width: 480;
  height: 320px;
  text-align: center;
  padding: 120px 0;
  margin: auto;
  z-index: 1;
}

/* line 370, ../sass/style.scss */
.ui-load-icon {
  height: 50px;
  width: 50px;
}

/* line 374, ../sass/style.scss */
.message-profile-thumbnail.user {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid gray;
}

/* line 381, ../sass/style.scss */
.board-message-format-self ul li {
  display: inline;
}
/* line 384, ../sass/style.scss */
.board-message-format-self ul li:first-child {
  height: auto;
}
/* line 386, ../sass/style.scss */
.board-message-format-self ul li:first-child pre {
  float: left;
  max-width: 200px;
  background: #e9eaed;
  padding: 10px;
  margin: 0 0 8px 0;
  -ms-overflow-y: hidden;
  overflow-y: hidden;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 398, ../sass/style.scss */
.board-message-format-self ul li:last-child {
  float: right;
  text-align: center;
  height: auto;
  width: 80px;
  max-width: 80px;
}
/* line 404, ../sass/style.scss */
.board-message-format-self ul li:last-child .message-profile-thumbnail {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}
/* line 409, ../sass/style.scss */
.board-message-format-self ul li:last-child p:first-child {
  padding: 0;
  line-height: 200%;
}

/* line 415, ../sass/style.scss */
small.separator {
  text-align: center;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}
/* line 417, ../sass/style.scss */
small.separator span {
  position: relative;
  top: -12px;
  left: 15px;
  width: 300px;
  height: auto;
  margin: auto;
  padding: 0 4px;
}
/* line 429, ../sass/style.scss */
small.separator hr {
  border: none;
  width: 95%;
  padding: 0;
  margin: 2px auto;
}

/* line 437, ../sass/style.scss */
.board-message-format-user ul li {
  display: inline;
}
/* line 440, ../sass/style.scss */
.board-message-format-user ul li:first-child {
  margin-left: -16px;
  float: left;
  text-align: center;
  height: auto;
  width: 80px;
  max-width: 80px;
}
/* line 447, ../sass/style.scss */
.board-message-format-user ul li:first-child .message-profile-thumbnail {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}
/* line 452, ../sass/style.scss */
.board-message-format-user ul li:first-child p:first-child {
  padding: 0;
  line-height: 200%;
}
/* line 458, ../sass/style.scss */
.board-message-format-user ul li:last-child {
  height: auto;
}
/* line 460, ../sass/style.scss */
.board-message-format-user ul li:last-child pre {
  float: left;
  max-width: 200px;
  -ms-overflow-y: hidden;
  overflow-y: hidden;
  background: #65B688;
  color: white;
  padding: 10px;
  margin: 0 0 8px 0;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* line 474, ../sass/style.scss */
small.other-separator {
  text-align: center;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}
/* line 476, ../sass/style.scss */
small.other-separator span {
  position: relative;
  top: -12px;
  left: 220px;
  width: 300px;
  height: auto;
  margin: auto;
  padding: 0 4px;
}
/* line 488, ../sass/style.scss */
small.other-separator hr {
  border: none;
  width: 95%;
  padding: 0;
  margin: 2px auto;
}

/* line 495, ../sass/style.scss */
#write-board-send {
  display: block;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

/* line 500, ../sass/style.scss */
#toggle-board-menu {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 50px;
  height: 50px;
  padding: 12px 10px;
  margin: auto;
  border: 0;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background: #393939;
  -webkit-transition: all ease .5s 0s;
  -moz-transition: all ease .5s 0s;
  -ms-transition: all ease .5s 0s;
  -o-transition: all ease .5s 0s;
  transition: all ease .5s 0s;
}
/* line 518, ../sass/style.scss */
#toggle-board-menu:hover {
  background: #65B688;
  border: 0;
  -webkit-transition: all ease .5s 0s;
  -moz-transition: all ease .5s 0s;
  -ms-transition: all ease .5s 0s;
  -o-transition: all ease .5s 0s;
  transition: all ease .5s 0s;
}
/* line 526, ../sass/style.scss */
#toggle-board-menu:hover i {
  color: white;
}
/* line 530, ../sass/style.scss */
#toggle-board-menu i {
  color: white;
}

@media (max-width: 666px) {
  /* line 535, ../sass/style.scss */
  #messages {
    position: fixed;
    right: 25px;
    bottom: 25px !important;
    height: 480px;
    width: 320px;
    min-height: 480px;
    min-width: 320px;
  }

  /* line 545, ../sass/style.scss */
  .form-group.field-board-content {
    height: 105px;
  }
}
@media (min-width: 667px) {
  /* line 550, ../sass/style.scss */
  #messages {
    position: fixed;
    right: 25px;
    bottom: -25px !important;
    height: 451px;
    width: 320px;
    min-height: 451px;
    min-width: 320px;
  }

  /* line 560, ../sass/style.scss */
  #write-form-textarea {
    height: 105px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  /* line 567, ../sass/style.scss */
  #write-panel-footer {
    height: 105px;
    border: 1px solid green;
  }

  /* line 571, ../sass/style.scss */
  #write-board-send {
    display: none;
  }

  /* line 574, ../sass/style.scss */
  #write-form {
    border: 0;
  }
}
/* line 578, ../sass/style.scss */
#messages {
  display: none;
  position: fixed;
  bottom: 25px;
  right: 25px;
  height: 480px;
  width: 320px;
  min-height: 480px;
  min-width: 320px;
}
/* line 587, ../sass/style.scss */
#messages .panel.panel-default {
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 591, ../sass/style.scss */
#messages .panel.panel-default > .panel-heading {
  border: 2px solid #3A4B55;
  border-bottom: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: #3A4B55;
  margin: 0;
  padding: 0;
}
/* line 600, ../sass/style.scss */
#messages .panel.panel-default > .panel-body {
  height: 320px;
  margin: 0;
  padding: 0;
}
/* line 605, ../sass/style.scss */
#messages .panel.panel-default > .panel-footer {
  height: 130px;
  padding: 0;
  margin: 0;
  border: 0;
  border-top: 1px solid #e9eaed;
}

/* line 613, ../sass/style.scss */
#pjax-write form {
  padding: 0;
}

/* line 616, ../sass/style.scss */
#write-panel-footer {
  border: 1px solid #e9eaed;
}

/* line 619, ../sass/style.scss */
#write-form-textarea {
  padding: 10px;
  margin: 0;
}

/* line 623, ../sass/style.scss */
#write-textarea {
  background: white;
  width: 100%;
  height: 60px;
  resize: none;
  outline: none;
}

/* line 630, ../sass/style.scss */
#write-button-container {
  padding: 0;
}

/* line 633, ../sass/style.scss */
.notify-new-msg {
  -webkit-border-radius: 100%;
  border-radius: 100%;
  padding: 4px;
}

/* line 638, ../sass/style.scss */
#new-board-message {
  float: left;
  width: 30px;
  height: 30px;
  color: white;
  padding: auto;
  padding: 2px 0;
  background: none;
  border: 0;
}
/* line 649, ../sass/style.scss */
#new-board-message:hover span i {
  color: rgba(255, 255, 255, 0.75);
}

/* line 655, ../sass/style.scss */
#fetch {
  display: none;
  float: left;
  padding: 4px 0;
  background: red;
}

/* line 661, ../sass/style.scss */
#btn-msg-toggle, #fetch {
  background: transparent;
}
/* line 663, ../sass/style.scss */
#btn-msg-toggle i, #fetch i {
  color: white;
}
/* line 667, ../sass/style.scss */
#btn-msg-toggle:hover i, #fetch:hover i {
  color: rgba(255, 255, 255, 0.75);
}

/* line 672, ../sass/style.scss */
.btn-write {
  margin: 10px;
  padding: 0;
  text-align: center;
  -webkit-border-radius: 1px;
  border-radius: 1px;
}

/* line 683, ../sass/style.scss */
#btn-msg-container {
  margin-bottom: 15px;
}

/* line 686, ../sass/style.scss */
.btn-board {
  background: transparent;
  border: 0;
  color: #e9eaed;
  width: 30px;
  height: 30px;
  padding: 6px 8px;
}
/* line 693, ../sass/style.scss */
.btn-board i {
  text-align: center;
  margin: auto;
}

/* line 698, ../sass/style.scss */
.board {
  background: transparent;
  height: 320px;
  min-width: 100%;
  -ms-overflow-y: scroll;
  overflow-y: scroll;
  -ms-overflow-x: hidden;
  overflow-x: hidden;
}

/* line 708, ../sass/style.scss */
.board-content {
  padding: 0;
  margin: 0;
  width: 100%;
}
/* line 712, ../sass/style.scss */
.board-content:hover.board-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  visibility: visible;
}

/* line 717, ../sass/style.scss */
.board-content::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* line 722, ../sass/style.scss */
.board-content::-webkit-scrollbar-thumb {
  background-color: #3A4B55;
  height: 50px;
  border-radius: 10px;
  border-style: solid;
  border: 0;
}

/* line 729, ../sass/style.scss */
.board-content::-webkit-scrollbar {
  width: 14px;
  background-color: #e9eaed;
}

/* line 734, ../sass/style.scss */
.board-write-container {
  position: relative;
  bottom: 0;
  height: 80px;
  padding: 0;
  margin: 0;
}

/* line 741, ../sass/style.scss */
.board-write {
  /* position: absolute;
  bottom: 0; */
}

/* line 745, ../sass/style.scss */
.input-group.write-group {
  height: 80px;
}

/* line 748, ../sass/style.scss */
.input-group-addon.addon-submit-btn {
  padding: 0;
  padding: 0 6px;
  margin: 0;
  background: #e9eaed;
}

/* line 754, ../sass/style.scss */
.breadcrumb-line {
  background: none;
  border: 0;
}

/* line 758, ../sass/style.scss */
#announcement {
  margin-left: 5px 0;
  padding: 15px;
  border: 1px solid #D5D5D5;
  border-radius: 2px;
}

/* line 764, ../sass/style.scss */
.progress {
  margin-bottom: 20px;
  -webkit-border-radius: 0;
  border-radius: 0;
}

/* line 769, ../sass/style.scss */
.progress-bar {
  background-color: #4a8bc2;
}

/* line 772, ../sass/style.scss */
.form-progress {
  width: 100%;
  height: 20px;
  background: #393939;
  margin-bottom: 15px;
}
/* line 777, ../sass/style.scss */
.form-progress #form-progress-inner {
  min-height: 20px;
  width: 25%;
  background: #4a8bc2;
  -webkit-transition: all 1s ease 0s;
  -moz-transition: all 1s ease 0s;
  -ms-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
/* line 783, ../sass/style.scss */
.form-progress #form-progress-overlay {
  position: relative;
  min-height: 20px;
  width: 25%;
  top: -20px;
  left: 0;
  background: url("../images/progress-bg1.png");
  background-repeat: repeat-x;
  -webkit-transition: all 1s ease 0s;
  -moz-transition: all 1s ease 0s;
  -ms-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

/* line 794, ../sass/style.scss */
.nav-tabs {
  border-bottom: 0;
}

/* line 797, ../sass/style.scss */
.nav .nav-tabs {
  border: 0;
}

/* line 801, ../sass/style.scss */
.nav-tabs li {
  background: #eee;
}

/* line 805, ../sass/style.scss */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border-color: #eee;
}

/* line 809, ../sass/style.scss */
.nav-tabs li {
  margin: 2px 2px 10px 2px;
}
/* line 812, ../sass/style.scss */
.nav-tabs li a:hover {
  border-top-color: #EE8366;
}

/* line 818, ../sass/style.scss */
#header-user-thumb {
  height: 40px;
  width: 40px;
}

/* line 822, ../sass/style.scss */
.btn-popover {
  background: transparent;
  border: 0;
}
/* line 825, ../sass/style.scss */
.btn-popover:hover, .btn-popover:active {
  background: transparent;
}

/* line 829, ../sass/style.scss */
.red {
  background: red;
}

/* line 832, ../sass/style.scss */
.tab-content {
  margin: 10px 1px 0 1px;
  border: 0;
}

/* line 836, ../sass/style.scss */
.container.form-input-wrapper {
  width: 100%;
}

/* line 839, ../sass/style.scss */
.applicant-form-create {
  margin: 0;
}

/* line 842, ../sass/style.scss */
.breadcrumb-line {
  margin: 0 0 15px 0;
}

/* line 845, ../sass/style.scss */
.progress {
  margin-bottom: 15px;
}

/* line 848, ../sass/style.scss */
.dropdown-list, .custom-input-group-addon {
  width: 100px;
  padding: 0 5px;
}

/* line 852, ../sass/style.scss */
.fa-one-point-five {
  font-size: 18px;
}

/* line 855, ../sass/style.scss */
.fa-group-addon-field {
  font-size: 18px;
}

/* line 860, ../sass/style.scss */
.panel-heading.login-form-heading {
  background-color: rgba(36, 37, 40, 0.6);
  height: 60px;
}
/* line 863, ../sass/style.scss */
.panel-heading.login-form-heading h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  font-size: 24px;
  color: white;
  padding: 14px;
}

/* line 871, ../sass/style.scss */
.login-form-container {
  padding-top: 130px;
}

/* line 875, ../sass/style.scss */
.blue-box {
  background-color: rgba(58, 75, 85, 0.6);
}

/* line 879, ../sass/style.scss */
.yellow-box {
  background-color: rgba(255, 255, 0, 0.6);
  padding: 10px;
}

/* line 883, ../sass/style.scss */
.green-box {
  background-color: rgba(0, 128, 0, 0.6);
  padding: 10px;
}

/* line 887, ../sass/style.scss */
.login-form-group {
  padding-top: 10px;
  padding-bottom: 5px;
}

/* line 891, ../sass/style.scss */
.sidebar {
  -ms-overflow-y: scroll;
  overflow-y: scroll;
}
/* line 894, ../sass/style.scss */
.sidebar:hover.sidebar::-webkit-scrollbar-thumb {
  background-color: #ee8366;
  border: solid 3px #2c3a42;
  border-radius: 10px;
  visibility: visible;
}
/* line 900, ../sass/style.scss */
.sidebar:hover.sidebar::-webkit-scrollbar {
  background-color: #2c3a42;
}

/* line 904, ../sass/style.scss */
.sidebar::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0);
}

/* line 909, ../sass/style.scss */
.sidebar::-webkit-scrollbar-thumb {
  height: 50px;
  border-radius: 10px;
  border-color: #2c3a42;
  border-style: solid;
  border: 1px 1px 1px 10px;
  visibility: hidden;
}

/* line 917, ../sass/style.scss */
.sidebar::-webkit-scrollbar {
  width: 14px;
  background-color: white;
}

/* line 923, ../sass/style.scss */
span.express-form-student {
  font-size: 14px;
  padding: 10px 10px 10px 0;
  text-align: left;
  line-height: 1.5px;
}
