@mixin transition($smooth-transition){
    -webkit-transition: $smooth-transition;
   -moz-transition: $smooth-transition;
    -ms-transition: $smooth-transition;
     -o-transition: $smooth-transition;
        transition: $smooth-transition;
}

@mixin rounded-border($radius){
	border-style: solid;
    -webkit-border-radius: $radius;
            border-radius: $radius;
}
@mixin border-color($color){
    -webkit-border-radius: $color;
            border-radius: $color;
}